section {
  height: 70vh;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: start;

  // @include responsivo(old) {
  //   width: 400px;
  // }

  h1 {
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
    align-self: center;
    @include font-base;

    @include responsivo(old) {
      font-size: 1rem;
      letter-spacing: 4px;
    }
  }

  .chronometer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include responsivo(old) {
      grid-template-columns: repeat(4, 60px);
    }
  }
}

.chronometer .box {
  position: relative;

  width: 140px;
  height: 140px;

  background: linear-gradient(
    to bottom,
    #2a2c41,
    #2a2c41 49.5%,
    black,
    #343650,
    #343650 50.5%
  );

  box-shadow: 0 10px 0px -2px $very-dark-mostly-blue;

  z-index: 1;
  border-radius: 8px;
  perspective: 0;

  transition: 0.2s;

  @include responsivo(mobile) {
    width: 90px;
    height: 90px;
  }

  @include responsivo(old) {
    width: 60px;
    height: 60px;
  }

  .countdown-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 140px;
    border-radius: 8px;

    position: absolute;
    top: 0;

    @include responsivo(mobile) {
      height: 90px;
    }

    @include responsivo(old) {
      height: 60px;
    }
  }

  .countdown-box span {
    color: $soft-red;
    font-size: 76px;
    z-index: 2;

    @include responsivo(mobile) {
      font-size: 36px;
    }

    @include responsivo(old) {
      font-size: 22px;
    }

    &::before,
    &::after {
      content: '';
      width: 5px;
      height: 10px;
      background-color: $very-dark-mostly-blue;
      display: flex;
      position: absolute;

      z-index: 2;
      top: 65px;

      @include responsivo(mobile) {
        top: 40px;
      }

      @include responsivo(old) {
        top: 25px;
      }
    }

    &::before {
      left: 0;

      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &::after {
      right: 0;

      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
}

.chronometer .text {
  text-align: center;
  opacity: 0.2;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  line-height: 1.8;

  @include responsivo(mobile) {
    font-size: 8px;
  }

  @include responsivo(old) {
    font-size: 8px;
    letter-spacing: 1px;
  }
}
